@import "../bourbon/bourbon";
@import "../neat/neat";
@import 'variables';
@import 'grid_settings';

.blog, .category {
	.section {
		padding: 0;
		margin-top: 80px;
		max-width: none;
	}
	.block {
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;

		&:first-child() {
			padding-top:0;
		}

		&:last-child() {
			border-bottom: 0;
		}

		img {
			height: auto;
			margin: $base-spacing 0 0;
		}
	}
	
	a {
		color: $link-color;
		transition: color 75ms ease-in-out;

		&:hover {
			color: $hover;

			h2 {
				color: $hover;				
			}
		}
	}

	img {
		width: 100%;
	}
	@include media($medium-screen-up) {
		.section {
			padding: 0;
			width: calc(100% - 320px);
	    margin-left: $base-spacing*14;
	    margin-right: $base-spacing*2;
		}
    	.block{
    	padding-bottom: 60px;
		}
		h2 {
			margin-bottom: $base-spacing;
		}
		.block-img {
			@include span-columns(4);

			img {
				margin-top: 0;
			}
		}

		.block-text {
			@include span-columns(6);
			text-align: left;
			color: $font-color;

			h2 {
				font-size: 28px;
				line-height: 35px;
				margin-bottom: 0;
			}
		}
	}
}

.category {
	h1.entry-title {
		text-align: center;
		font-size: 45px;
		line-height: 52px;
	}

	.entry-meta {
		display: none;
	}

	img {
		height: auto;
		margin-bottom: $base-spacing;
	}
}

.single-post {
	img {
		height: auto;
		width: 100%;

		&.wp-post-image {
			width: 100%;
		}
	}

	article header {
		margin-bottom: $base-spacing*2;
	}

	h1.entry-title {
		a {
			color: $dark-purple;
			font-size: 45px;
			line-height: 52px;
		}
	}
		
	.featured-img {
		margin-bottom: $base-spacing*2;
	}

	.button {
		margin: 0 auto;
		display: block;
		width: 300px;
		text-align: center;
	}

	footer.footer {
		margin-top: $base-spacing*2;
	}

	.caption {
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 0;
		padding: 15px;
		background-color: $black;
		color: white;
		margin-top: -3px;
		font-style: normal;
	}

	.entry-content {
		margin-bottom: $base-spacing;

		ul {
		  list-style-type: disc;
		  padding-left: $base-spacing;
		  margin-bottom: $base-spacing*2;
		  li {
		    line-height: 30px;
		  }
		}
		
		@include media($medium-screen-up) {
			@include span-columns(11);
			padding: 0 $base-spacing*2;
			float: none;
		}

		.wp-caption {
			img {
				margin-bottom: 0;
			}
		}

		.wp-caption-text {
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 0;
			padding: 15px;
			background-color: $black;
			color: white;
			margin-top: -3px;
		}

		.wp-caption.alignleft {
			float: left;
    		padding: 0 40px 40px 0;
    		clear: both;
		}

		.wp-caption.alignright {
			float: left;
    		padding: 0 0 40px 40px;
		}

		.wp-caption.aligncenter {
			float: left;
    		padding: 20px 0 40px;
			max-width: 100%;
		}

		p {
			margin-bottom: 30px;
		}
	}

	.easy-footnote-title {
		background-color: $black;
		color: white;
		padding: 30px $base-spacing*2 0;
		
		h3 {
			margin: 0;
		}
	}

	.easy-footnotes-wrapper {
		background-color: $black;
		color: white;
		padding: $base-spacing $base-spacing*2;
		font-size: 18px;
		line-height: 28px;

		a.easy-footnote-to-top {
			margin-left: 0;
			color: #fff;
			border: $base-border;
			padding: 5px 10px;
			margin-top: 10px;
			border-color: #fff;
			transition: all 50ms ease-in-out;

			&:after {
				content: " ";
			}

			&:hover {
				color: $black;
				background-color: #fff;
			}
		}

		.easy-footnote-single {
			margin-bottom: $base-spacing;
			word-break: break-all;
		}
	}
	@include media($medium-screen-up) {
		.section {
			width: calc(100% - 320px);
	    margin-left: $base-spacing*14;
	    margin-right: $base-spacing*2;
	    padding-top: 80px;
		}

		p {
			padding-right: $base-spacing*4;
		}

		.entry-content {
			margin: 0;
			padding: 0; 
		}
	}
}

#footer {
	margin-top: $base-spacing*2;
}