$black: #231f20;
$white: #fff;
$color-1: #7aced7;
$color-2: #abd037;

//new colors
$font-color: #868692;
$purple: #86216F;
$dark-purple: #470D51;
$orange: #DF953E;
$blue: #3FA4F4;
$red: #F76457;
$hot-pink: #C81581;
$link-color: $blue;
$hover: $orange;
$button-color: $hot-pink;

$project-1: lighten(#092847, 10%);
$project-2: lighten(#BE0F34, 10%);
$project-3: lighten(#03785A, 10%);
$project-4: lighten(#193665, 40%);
$project-5: lighten(#00A0FB, 10%);
$project-6: lighten(#34326B, 25%);

$base-spacing: 20px;
$base-border: 3px solid #ccc;
